<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:label="Meet Mino"
        android:supportsRtl="true"
        android:icon="@mipmap/_launcher"
        android:roundIcon="@mipmap/_launcher_round"
        android:theme="@style/Theme.MeetMino.Splash">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA5y6DtJmzxImKOcTpT27I4QU84n-eeQxA" />
    </application>

</manifest>
